package main

templ recipeView(recipe SchemaOrgRecipe) {
	<html>
		<body>
			<main class={ mainContainer() }>
				<h1>{ recipe.Name }</h1>
				<div style="display: flex; gap: 20px;">
					<aside style="flex: 1;">
						<h2>Ingredients</h2>
						for _, ingredient := range recipe.RecipeIngredient {
							<p>{ ingredient }</p>
						}
					</aside>
					<section style="flex: 3;">
						<h2>Instructions</h2>
						for _, instruction := range recipe.RecipeInstructions {
							<p>{ instruction.Text }</p>
						}
					</section>
				</div>
			</main>
		</body>
	</html>
}

css mainContainer() {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 800px;
}
