package main

import (
	"time"
	db "github.com/marcusolsson/cookhub/db/sqlc"
)

templ recipesView(recipes []db.GetRecipesRow) {
	<html>
		<body>
			<main class={ mainContainer() }>
				<h1>Jobs</h1>
				<table style="width: 100%; border-collapse: collapse;">
					<thead>
						<tr>
							<th style="text-align: left">Recipe</th>
							<th style="text-align: left">Repository</th>
							<th style="text-align: left">Created at</th>
						</tr>
					</thead>
					<tbody>
						for _, recipe := range recipes {
							<tr>
								<td>
									<a
										href={ templ.URL("/ui/github.com/" +
                                recipe.Slug + recipe.Name) }
									>{ recipe.Name }</a>
								</td>
								<td>
									{ 
                                            recipe.CreatedAt.Time.Format(time.RFC3339) }
								</td>
							</tr>
						}
					</tbody>
				</table>
			</main>
		</body>
	</html>
}
