package views

templ Tag(tag string) {
	<span class="tag">{ tag }</span>
}

templ Avatar(src string) {
	<img src={ templ.URL(src) } alt="Avatar" class="avatar"/>
}

templ Image(src string) {
	<img src={ templ.URL(src) }/>
}

templ Link(label, href string) {
	<a href={ templ.URL(href) }>{ label }</a>
}

templ Icon(name string) {
	<i data-lucide={ name }></i>
}

templ Author(authorName, authorURL string) {
	<div class="author">
		@Link(authorName, authorURL)
	</div>
}

templ IconButton(icon, href string) {
	<a class="btn-icon" href={ templ.URL(href) }>
		@Icon(icon)
	</a>
}

templ ButtonGroup() {
	<div class="btn-group">
		{ children... }
	</div>
}

templ TagList() {
	<div class="tag-list">
		{ children... }
	</div>
}

templ Columns() {
	<div class="columns">
		{ children... }
	</div>
}
