package views

import (
	"fmt"
	db "github.com/marcusolsson/cookhub/db/sqlc"
)

templ Tag(tag string) {
	<span class="tag">{ tag }</span>
}

templ Avatar(src string) {
	<img src={ templ.URL(src) } alt="Avatar" class="avatar"/>
}

templ Image(src string) {
	<img src={ templ.URL(src) }/>
}

templ Link(label, href string) {
	<a href={ templ.URL(href) }>{ label }</a>
}

templ Icon(name string) {
	<i data-lucide={ name }></i>
}

templ Author(file db.GetFileRow) {
	<div class="author">
		@Link(file.Owner, fmt.Sprintf("https://%s/%s", file.Provider, file.Owner))
		{{ u := fmt.Sprintf("/%s/%s/%s", file.Provider, file.Owner, file.RepoName) }}
		<a class="text-small" href={ templ.URL(u) }>View all recipes in cookbook</a>
	</div>
}

templ IconButton(icon, href string) {
	<a class="btn-icon" href={ templ.URL(href) }>
		@Icon(icon)
	</a>
}

templ ButtonGroup() {
	<div class="btn-group">
		{ children... }
	</div>
}

templ TagList() {
	<div class="tag-list">
		{ children... }
	</div>
}

templ Columns() {
	<div class="columns">
		{ children... }
	</div>
}
