package views

templ page() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>CookHub</title>
			<link rel="stylesheet" href="/static/styles.css"/>
		</head>
		<body>
			@navigation()
			<main class="container">
				{ children... }
			</main>
			<script src="https://unpkg.com/lucide@latest"></script>
			<script>
                lucide.createIcons({ 
                    attrs: { 
                        class: ['icon'], 
                        'stroke-width': 1
                    } 
                });
            </script>
		</body>
	</html>
}

templ lucideIcons() {
	<script src="https://unpkg.com/lucide@latest"></script>
	<script>
        lucide.createIcons({ 
            attrs: { 
                class: ['icon'], 
                'stroke-width': 2 
            } 
        });
    </script>
}

templ navigation() {
	<header id="site-header">
		<nav>
			<ul>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
	</header>
}
