package views

templ page(title, baseURL string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href={ baseURL + "/static/styles.css" }/>
		</head>
		<body>
			<main class="container">
				{ children... }
			</main>
			<script src="https://unpkg.com/lucide@latest"></script>
			<script>
                lucide.createIcons({
                    attrs: {
                        class: ['icon'],
                        'stroke-width': 1
                    }
                });
            </script>
		</body>
	</html>
}
