package views

import (
	db "github.com/marcusolsson/cookhub/db/sqlc"
)

templ AllCookbooksPage(repos []db.Repository) {
	@page() {
		<h1>Cookbooks</h1>
		if len(repos) > 0 {
			<ul>
				for _, repo := range repos {
					{{ fullName := repo.Provider + "/" + repo.Owner + "/" + repo.RepoName }}
					<li><a href={ templ.URL("/" + fullName) }>{ fullName }</a></li>
				}
			</ul>
		} else {
			<p class="description">
				No cookbooks found.
			</p>
		}
	}
}
