package views

import (
	"strings"

	"github.com/aquilax/cooklang-go"
)

templ cooklangStep(step any, file RecipeFile) {
	switch val := step.(type) {
		case cooklang.TextV2:
			@cooklangText(val)
		case cooklang.IngredientV2:
			@cooklangIngredient(val, file)
		case cooklang.CookwareV2:
			@cooklangCookware(val)
		case cooklang.TimerV2:
			@cooklangTimer(val)
	}
}

templ cooklangText(val cooklang.TextV2) {
	<span>{ val.Value }</span>
	if strings.HasSuffix(val.Value, ".") {
		<br/>
		<br/>
	}
}

templ cooklangIngredient(val cooklang.IngredientV2, file RecipeFile) {
	if strings.HasPrefix(val.Name, "./") {
		{{ u := resolveRecipeURL(file, val.Name+".cook") }}
		<a href={ templ.URL(u) }>
			{ strings.TrimPrefix(val.Name, "./") }
		</a>
	} else {
		<dfn title={ IngredientAsString(val) }>
			{ val.Name }
		</dfn>
	}
}

templ cooklangIngredientText(name string, file RecipeFile) {
	if strings.HasPrefix(name, "./") {
		{{ u := resolveRecipeURL(file, name+".cook") }}
		<a href={ templ.URL(u) }>
			{ strings.TrimPrefix(name, "./") }
		</a>
	} else {
		{ name }
	}
}

templ cooklangCookware(cookware cooklang.CookwareV2) {
	<span>{ cookware.Name }</span>
}

templ cooklangTimer(timer cooklang.TimerV2) {
	{{ d := TimerAsDuration(timer) }}
	<time datetime={ DurationToISO8601(d) }>
		{ timer.Quantity } { timer.Unit }
	</time>
}
