package views

templ ErrorPage() {
	<html>
		<body>
			<main class={ mainContainer() }>
				<h1>An error occurred</h1>
				<p>The error has been logged and will hopefully be fixed soon.</p>
			</main>
		</body>
	</html>
}
