package views

import (
	"strings"
	"fmt"

	"github.com/aquilax/cooklang-go"
)

templ RecipeView(meta *RecipeMetadata, author Author, recipe *cooklang.RecipeV2, raw string) {
	@pageContainer() {
		<main>
			<header>
				<h1>{ meta.Title() }</h1>
				if desc := meta.Description(); desc != "" {
					<p>{ desc }</p>
				}
				<div>
					for _, tag := range meta.Tags() {
						<span class={ tagStyle() }>{ tag }</span>
					}
				</div>
				<p>
					<a href={ templ.URL(author.URL) }>View on GitHub</a>
				</p>
				<section>
					<span style="display: flex; align-items: center; gap: 10px;">
						<img
							src={ templ.URL(author.Owner.AvatarURL) }
							alt="Author Avatar"
							style="width: 24px; height: 24px; border-radius: 50%;"
						/>
						<a href={ templ.URL(author.Owner.URL) }>{ author.Owner.Login }</a>
					</span>
				</section>
				if u := meta.ImageURL(); u != "" {
					<img src={ u } alt={ meta.Title() } style="max-width: 50%; height: auto;"/>
				}
				<table>
					<tbody>
						if servings := meta.Servings(); servings > 0 {
							<tr><td>Servings</td><td>{ servings }</td></tr>
						}
						if cuisine := meta.Cuisine(); cuisine != "" {
							<tr><td>Cuisine</td><td>{ cuisine }</td></tr>
						}
						if course := meta.Course(); course != "" {
							<tr><td>Course</td><td>{ course }</td></tr>
						}
						if category := meta.Category(); category != "" {
							<tr><td>Category</td><td>{ category }</td></tr>
						}
						if source := meta.Source(); source != nil {
							<tr>
								<td>Source</td>
								<td>
									<a
										href={ templ.URL(source.String()) }
									>Link</a>
								</td>
							</tr>
						}
						if t := meta.TotalTime(); t != "" {
							<tr><td>Total time</td><td>{ t }</td></tr>
						}
						if t := meta.PrepTime(); t != "" {
							<tr><td>Prep time</td><td>{ t }</td></tr>
						}
						if t := meta.CookTime(); t != "" {
							<tr><td>Cook time</td><td>{ t }</td></tr>
						}
					</tbody>
				</table>
			</header>
			<div style="display: flex; gap: 20px;">
				<aside style="flex: 1;">
					<h2>Ingredients</h2>
					for _, ingredient := range getIngredients(recipe) {
						<p>{ ingredient }</p>
					}
				</aside>
				<section style="flex: 3;">
					<h2>Instructions</h2>
					for _, step := range recipe.Steps {
						for _, component := range step {
							switch val := component.(type) {
								case cooklang.TextV2:
									<span>{ val.Value }</span>
									if strings.HasSuffix(val.Value, ".") {
										<br/>
										<br/>
									}
								case cooklang.IngredientV2:
									<dfn title={ ingredientAsString(val) }>{ val.Name }</dfn>
								case cooklang.CookwareV2:
									<span>{ val.Name }</span>
								case cooklang.TimerV2:
									<time datetime={ DurationToISO8601(timerAsDuration(val)) }>
										{ fmt.Sprintf("%v %s", val.Quantity, val.Unit) }
									</time>
							}
						}
					}
				</section>
			</div>
			<details>
				<summary>View the raw recipe</summary>
				<pre class={ pre() }>
					<code>{ raw }</code>
				</pre>
			</details>
		</main>
	}
}

css tagStyle() {
	display: inline-block;
	background-color: #e0e0e0;
	color: #333;
	border-radius: 4px;
	padding: 0.2em 0.5em;
	margin-right: 0.5em;
	font-size: 0.9em;
}

css pre() {
	white-space: pre-wrap;
	word-break: break-all;
	overflow-x: auto;
	padding: 1em;
	background-color: #f5f5f5;
	border-radius: 4px;
	font-family: monospace, monospace;
	font-size: 0.9em;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
