package views

import (
	"fmt"
	db "github.com/marcusolsson/cookhub/db/sqlc"
)

templ AllRecipesPage(repo db.Repository, files []db.GetFilesRow) {
	@page() {
		<h1>Recipes by { repo.Owner }</h1>
		if len(files) == 0 {
			<p class="description">
				This cookbook is empty.
			</p>
		} else {
			<p class="description">
				This page lists all recipes in <a href={ templ.URL("https://" + repo.Url) }>{ repo.Slug }</a>.
			</p>
			<section class="recipe-list">
				for _, file := range files {
					<article class="recipe-card">
						{{ u := fmt.Sprintf("/%s/%s/%s/%s", file.Provider, file.Owner, file.RepoName, file.Path) }}
						<h2><a href={ templ.URL(u) }>{ file.Stem }</a></h2>
					</article>
				}
			</section>
		}
	}
}
