package views

import (
	"time"
	db "github.com/marcusolsson/cookhub/db/sqlc"
)

templ AllRecipesPage(recipes []db.GetRecipesRow) {
	@page() {
		<h1>All Recipes</h1>
		<table>
			<thead>
				<tr>
					<th>Recipe</th>
					<th>Created at</th>
				</tr>
			</thead>
			<tbody>
				for _, recipe := range recipes {
					<tr>
						<td><a href={ templ.URL("/github.com/" + recipe.Slug + "/" + recipe.Name) }>{ recipe.Name }</a></td>
						<td>{ recipe.CreatedAt.Time.Format(time.RFC3339) } </td>
					</tr>
				}
			</tbody>
		</table>
	}
}
