package views

import (
	"fmt"

	"github.com/aquilax/cooklang-go"
	"github.com/marcusolsson/cookhub/utils"
	"github.com/marcusolsson/cookhub/github"
)

type RecipeViewModel struct {
	Recipe    *cooklang.RecipeV2
	File      utils.RepoFileRef
	Repo      github.Repository
	RawRecipe string
}

templ RecipePage(pd *RecipeViewModel) {
	{{ meta := utils.ParseCanonicalMetadata(pd.Recipe) }}
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>CookHub</title>
			<link rel="stylesheet" href="/static/styles.css"/>
			<link rel="canonical" href={ templ.URL(pd.File.URL().String()) }/>
		</head>
		<body>
			<main class="container">
				@recipeHeader(meta, pd.Repo, pd.File)
				@canonicalMetadata(meta)
				@Columns() {
					@recipeInstructions(pd.Recipe, pd.File)
					@recipeIngredients(pd.Recipe, meta.Servings(), pd.File)
				}
				<details>
					<summary>View the raw recipe</summary>
					<pre>
						<code>{ pd.RawRecipe }</code>
					</pre>
				</details>
			</main>
			@lucideIcons()
		</body>
	</html>
}

templ lucideIcons() {
	<script src="https://unpkg.com/lucide@latest"></script>
	<script>
        lucide.createIcons({ 
            attrs: { 
                class: ['icon'], 
                'stroke-width': 2 
            } 
        });
    </script>
}

templ recipeHeader(meta *utils.RecipeMetadata, repo github.Repository, fileRef utils.RepoFileRef) {
	<header class="recipe-header">
		<h1>{ meta.Title(fileRef.Path) }</h1>
		<div class="recipe-meta">
			@Author(repo.Owner.Login, repo.Owner.URL, repo.Owner.AvatarURL)
			@ButtonGroup() {
				@IconButton("github", fileRef.URL().String())
				if source := meta.Source(); source != nil {
					@IconButton("external-link", source.String())
				}
			}
		</div>
		if len(meta.Tags()) > 0 {
			<div>
				for _, t := range meta.Tags() {
					@Tag(t)
				}
			</div>
		}
		if desc := meta.Description(); desc != "" {
			<p>{ desc }</p>
		}
		if u := meta.ImageURL(); u != "" {
			@Image(u)
		}
	</header>
}

templ canonicalMetadata(meta *utils.RecipeMetadata) {
	<table id="metadata-table">
		<tbody>
			if cuisine := meta.Cuisine(); cuisine != "" {
				<tr><td>Cuisine</td><td>{ cuisine }</td></tr>
			}
			if course := meta.Course(); course != "" {
				<tr><td>Course</td><td>{ course }</td></tr>
			}
			if category := meta.Category(); category != "" {
				<tr><td>Category</td><td>{ category }</td></tr>
			}
			if t := meta.TotalTime(); t != "" {
				<tr><td>Total time</td><td>{ t }</td></tr>
			}
			if t := meta.PrepTime(); t != "" {
				<tr><td>Prep time</td><td>{ t }</td></tr>
			}
			if t := meta.CookTime(); t != "" {
				<tr><td>Cook time</td><td>{ t }</td></tr>
			}
		</tbody>
	</table>
}

templ recipeInstructions(recipe *cooklang.RecipeV2, fileRef utils.RepoFileRef) {
	<section id="instructions">
		<h2>Instructions</h2>
		for _, step := range recipe.Steps {
			for _, component := range step {
				@cooklangStep(component, fileRef)
			}
		}
	</section>
}

templ recipeIngredients(recipe *cooklang.RecipeV2, servings float64, fileRef utils.RepoFileRef) {
	<aside id="ingredients">
		<h2>
			Ingredients
			if servings > 0 {
				@servingsLabel(servings)
			}
		</h2>
		@cooklangIngredientList(recipe.Steps, fileRef)
	</aside>
}

templ servingsLabel(servings float64) {
	<div id="servings">
		<i data-lucide="utensils" style="max-width: 1em; max-height: 1em;"></i>{ servings }
	</div>
}

templ cooklangIngredientList(steps []cooklang.StepV2, fileRef utils.RepoFileRef) {
	<ul>
		for _, section := range steps {
			for _, step := range section {
				switch val := step.(type) {
					case cooklang.IngredientV2:
						@cooklangIngredientListItem(val, fileRef)
				}
			}
		}
	</ul>
}

templ cooklangIngredientListItem(val cooklang.IngredientV2, fileRef utils.RepoFileRef) {
	<li>
		switch  {
			case val.Units == "" && val.Quantity == 0:
				@cooklangIngredientText(val.Name, fileRef)
			case val.Units == "":
				{ fmt.Sprintf("%v ", val.Quantity) }
				@cooklangIngredientText(val.Name, fileRef)
			default:
				{ fmt.Sprintf("%v %s ", val.Quantity, val.Units) }
				@cooklangIngredientText(val.Name, fileRef)
		}
	</li>
}
