package views

import (
	db "github.com/marcusolsson/cookhub/db/sqlc"
	"github.com/marcusolsson/cookhub/utils"
)

templ AllRecipesPage(repoRef utils.RepoRef, recipes []db.GetFilesByRepoRow) {
	@page() {
		<h1>Recipes by { repoRef.Owner }</h1>
		if len(recipes) == 0 {
			<p class="description">
				This cookbook is empty.
			</p>
		} else {
			<p class="description">
				This page lists all recipes in <a href={ templ.URL(repoRef.URL().String()) }>{ repoRef.Slug() }</a>.
			</p>
			<section class="recipe-list">
				for _, recipe := range recipes {
					<article class="recipe-card">
						<h2><a href={ templ.URL("/github.com/" + recipe.Slug + "/" + recipe.Name) }>{ recipe.Name }</a></h2>
					</article>
				}
			</section>
		}
	}
}
