body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 920px;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: auto;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-family: monospace, monospace;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tag {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 4px;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  font-size: 0.9em;
}

.avatar {
  max-width: 32px;
  max-height: 32px;
  border-radius: 9999px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 4rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

h1 {
  font-size: 60px;
  text-wrap: balance;
  line-height: 100%;
  margin-bottom: 24px;
  font-weight: 500;
}

h2 {
  font-size: 1.728rem;
  text-wrap: balance;
  padding-bottom: 0.5rem;
  line-height: 1.2;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

p {
  margin: 0 0 1rem;
}

a,
a:visited,
a:active {
  font-weight: 500;
  color: rgb(100, 111, 121);
  text-decoration: underline;
}

a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}

ul {
  padding-left: 1.5em;
}

ul li {
  margin-bottom: 0.5rem;
}

ul li::marker {
  color: #38b000;
}

#instructions {
}

#ingredients {
}

.btn-icon {
  background-color: #38b000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 6px;

  .icon {
    width: 18px;
    height: 18px;
    stroke: #fff;
  }
}

.recipe-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  gap: 4px;
  align-items: center;
}

dfn {
  font-style: normal;
  display: inline-block;
  background-color: rgba(153, 195, 255, 0.3);
  font-weight: 500;
  color: #333;
  border-radius: 0.5em;
  padding: 0.1em 0.3em;

  &:hover {
    background-color: rgba(153, 195, 255, 0.4);
  }
}

#servings {
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
  align-items: center;
}

#metadata-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
